*{
    margin:0px;
    padding:0px;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,40,0.7),rgba(4,9,40,0.7)),url("banner.png");
    opacity:0.8;
    background-position: center;
    background-size: cover;
    position:relative;
    
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
}

.nav-links
{
    flex:1;
    text-align: right;
}
nav a
{
    text-decoration: none;
}
nav a h1
{
     color:white;
     font-size: 25px;
     margin: 0px 30px;


}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
    
}
.nav-links ul li a::after
{
    content:"";
    width:0%;
    height:2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after
{
    width:100%;

}
.text-box
{
    width:90%;
    color:white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1
{
    font-size: 50px;
}
.text-box p
{
    font-size:20px;
    margin: 10px 0 30px;
    color:white;
}
.Btn
{
    display: inline-block;
    text-decoration: none;
    color:crimson;
    border:1px solid white;
    padding:12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor:pointer;
}
.Btn:hover
{
    border: 1px solid red;
    background: red;
    transition: 1s;
    color:white;
}
nav .fa
{   
    display:none;
    position: absolute;
    right:5%;
    top:15px;
  
}
@media(max-width:700px)
{
    .text-box h1
{
    font-size: 25px;
}
.nav-links ul li
{
    display: block;
}
.nav-links
{
    position:fixed;
    background:#f44336;
    height:100vh;
    width:200px;
    top:0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition:1s;
}
nav a h1
{
    margin:16px;
}
nav .fa
{
    display: block;
    color:white;
    margin:10px;
    cursor:pointer;
    font-size: 22px;
}
.nav-links ul{
    padding:30px;
}
.nav-links ul li a
{
    font-size: 22px;
}
.row{
    flex-direction: column;
}
.testomonial-col img
{
    
    margin-left:0px;
    margin-right: 15px;
}
.Btn
{
    font-size: 20px;
}
}


/* courses */
.course
{
   width:80%;
   margin:auto;
   text-align: center;
   padding-top:100px;
}
h1
{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 14px;
    font-family: 300;
    line-height: 22px;
    padding:10px;

}
.row
{
    margin-top: 5px;
    display:flex;
    justify-content: center;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    margin:15px;
}
h3
{
    text-align: center;
    font-weight: 600;
    margin:10px 0px;
}
.course-col:hover
{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.facilities
{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
.facilities-col
{
    margin:15px;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align:left ;
}
.facilities-col img{
    width:100%;
    border-radius: 10px;
}
.facilities-col p
{
    padding: 0;
}
.facilities-col h3
{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: left;
}
.testomonial
{
   width: 80%;
   margin:auto;
    text-align: center;
    padding-top:100px;
}
.testomonial-col
{
    margin:15px;
    flex-basis:44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align:left ;
    background: #fff3f3;
    padding:25px;
    cursor:pointer;
    display:flex;
}
.testomonial-col img
{
    height:40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testomonial-col p
{
        padding: 0;
}
.testomonial-col h3
{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: left;
}
.testomonial-col .fa{
    color:orangered
}
.cta
{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("banner2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding:100px 0;
}
.cta h1
{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.footer
{
    width:100%;
    text-align: center;
    padding:30px 0px;
}
.footer h4
{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa
{
    color:red;
    margin:0px 13px;
    cursor: pointer;
    padding: 18px 0px;
}
.sub-header
{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,40,0.7),rgba(4,9,40,0.7)),url("background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
}
.sub-header h2{
    margin-top: 100px;
    font-size: 30px;
}
.about-us
{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col
{
    flex-basis: 48%;
    padding:30px 2px;
}
.about-col img{
    width:100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding:15px 0 25px;
}
.red-btn{
    border:1px solid brown;
    background:transparent;
    color:#f44336;
}
.Blog-content{
    width:80%;
    margin:auto;
    padding:60px 0;
}
.blog-left
{
     flex-basis: 65%;
}
.blog-left img{
    width:100%;
}
.blog-left h2
{
    color:#222;
    margin:30px 0;
    font-weight: 600;
}
.blog-left p
{
    color:#222;
    padding:0;
}
.comment-box{
    border:1px solid #ccc;
    margin: 50px 0;
    padding:10px 20px;
}
.comment-box
{
    text-align: left;
}
.comment-form input,
.comment-form textarea
{
    width: 100%;
    padding: 10px;
    margin:15px 0;
    box-sizing: border-box;
    border: none;
    outline:none ;
    background: #f0f0f0;
}
.comment-form button
{
    margin:15px 0;
}
.location
{
    width:80%;
    margin:auto;
    padding:80px 0;
}
.location iframe{
    width:100%;
}
.contact-us
{
    width:80%;
    margin:auto;
}
.contact-col
{
    flex-basis: 48%;
    margin-bottom: 30px;

}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom:0px;
}
.contact-col div .fa
{
    font-size: 28px;
    color:red;
    margin:10px;
    margin-right: 30px;
}
.contact-col div p
{
    padding:0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}
.contact-col span{
    margin:15px;
}
.contact-col input,
.contact-col textarea
{
    width: 100%;
    padding: 15px;
    margin-bottom:17px;
    outline:none ;
   border:1px solid #ccc;
   box-sizing: border-box;
}
